.primary {
  background: #fff;
}

.secondary {
  background: #f7f7f7;
}

.data {
  padding: 5px;
  border: 1px solid #dddddd;
  border-collapse: collapse;

  @media screen and (min-width: 480px) {
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    padding: 15px;
  }
}
