//Colors
$img-background-pink-color: rgb(245, 214, 219);
$img-background-light-color: rgb(251, 247, 235);
$img-background-blue-color: rgb(121, 138, 232);
$primary-background-color: rgb(207, 204, 225);
$sidebar-background-color: rgb(63, 81, 181); // #3f51b5
//------btn color---------------
$primary-btn-bg-color: rgb(246, 171, 14); //#F6AB0E
$secondary-btn-accent-color: rgb(6, 192, 222); //#06C0DE
// $persian-blue-color: #6e78e8;
//---------------------------
$white-color: #ffffff;
$secondary-white-color: #dcdcdf;
$primary-gray-color: #e0e0e0; //login text color
$secondary-gray-color: #bdbdbd;
// ------text-----
$text-color: #212121;

$background-shadow-color: rgba(0, 0, 0, 0.25);

//Font-family
$primary-font: 'Circe', sans-serif;
$secondary-font: 'Poppins', sans-serif;

//Transition
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
