@import '../../styles/index.scss';

.filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;
  width: 280px;

  @media screen and (min-width: $medium) {
    width: 400px;
  }
}

.label {
  font-size: 16px;
  font-weight: 500;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.input {
  height: 40px;
  padding: 8px;
  font-size: 18px;
  color: #212121;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(246, 171, 14, 0.2),
    0px 1px 2px rgba(246, 171, 14, 0.1), 0px 2px 2px rgba(246, 171, 14, 0.3);
  cursor: pointer;
  outline-color: $primary-btn-bg-color;

  @media screen and (min-width: $medium) {
    font-size: 20px;
  }
}

.input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: $medium) {
    font-size: 16px;
  }
}
