@import 'styles/index.scss';

.form {
  display: flex;
  flex-direction: column;
  //   padding: 20px;
  margin: 0 auto 20px;
  width: 280px;

  @media screen and (min-width: $medium) {
    width: 400px;
  }
}

.label {
  font-size: 16px;
  font-weight: 500;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.input {
  height: 40px;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #212121;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(246, 171, 14, 0.2),
    0px 1px 2px rgba(246, 171, 14, 0.1), 0px 2px 2px rgba(246, 171, 14, 0.3);
  cursor: pointer;
  outline-color: $primary-btn-bg-color;

  @media screen and (min-width: $medium) {
    font-size: 20px;
  }
}

.input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: $medium) {
    font-size: 16px;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  min-width: 120px;
  background-color: $primary-btn-bg-color;
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: $primary-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $secondary-btn-accent-color;
    background-color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: $medium) {
    min-width: 150px;
  }
}
