//Colors
$img-background-blue-color: #52b2fc; // rgb(82, 178, 252)
$img-background-yellow-color: #fff54e;
$primary-background-color: rgb(119, 228, 221); //#77E4DD
$secondary-background-color: rgb(243, 232, 6); //#F3E806
//------btn color---------------
$primary-btn-bg-color: rgb(246, 171, 14); //#F6AB0E
$locale-btn-color: #2196f3;
$secondary-btn-accent-color: rgb(6, 192, 222); //#06C0DE
$secondary-icon-fill-color: #3dd9eb;
// $persian-blue-color: #6e78e8;
//---------------------------
$white-color: #ffffff;
$secondary-white-color: #dcdcdf;
$primary-gray-color: #e0e0e0; //login text color
$secondary-gray-color: #bdbdbd;
// ------text-----
$text-color: #2a2a2a;
$menu-text-color: #11544f;

$background-shadow-color: rgba(0, 0, 0, 0.25);

//Font-family
$primary-font: 'Circe', sans-serif;
$secondary-font: 'Poppins', 'Open Sans', sans-serif;

//Transition
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
