@import '../../styles/index.scss';

.btnDeleteContact {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 2px;
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  color: $white-color;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;

  @include transition(color, box-shadow);

  &:hover,
  &:focus {
    color: $secondary-btn-accent-color;
    // border-color: $secondary-btn-accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.btnAddContact {
  composes: btnDeleteContact;

  margin: 10px auto 20px;
  padding: 5px 10px;

  background-color: $primary-btn-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: normal;
  text-transform: uppercase;

  @include transition(color, background-color, box-shadow);

  &:hover,
  &:focus {
    color: $secondary-btn-accent-color;
    background-color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btnCloseModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
  @include transition(color);

  &:hover {
    color: $white-color;
  }
}
