@import '../../styles/index.scss';

.primaryTitle {
  padding: 10px;
  font-family: $secondary-font;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.secondaryTitle {
  padding: 10px;
  font-family: $secondary-font;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}
