.friendList {
  width: 300px;
  margin: 40px auto;
  list-style: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  @media screen and (min-width: 480px) {
    width: 460px;
  }

  @media screen and (min-width: 768px) {
    width: 480px;
  }
}
