@import '../../styles/index.scss';

.contactList {
  margin: 0 auto;
  width: 280px;
  padding: 0;
  margin-bottom: 20px;

  @media screen and (min-width: $medium) {
    width: 400px;
  }
}

.notice {
  margin-bottom: 30px;
  text-align: center;
  color: tomato;
  font-size: 16px;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 22px;
  }
}
