@import '../../styles/index.scss';

.selector {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin-left: auto;
  margin-right: 0;
  width: 174px;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;

  // @media screen and (min-width: 768px) {
  //   position: fixed;
  //   top: 10px;
  //   right: 20px;
  // }
}

.button {
  display: inline-flex;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 4px 24px;
  margin: 0 4px;
  background-color: #2196f3; // #424242;
  color: #ffffff;
}

.active {
  composes: button;
  background-color: $primary-btn-bg-color; // #2196f3;
}
